/magmasoft/dao/daoutil.pyc
/magmasoft/factory/__init__.pyc
/magmasoft/factory/servicefactory.pyc
/magmasoft/service/__init__.pyc
/magmasoft/service/encuestafamiliarservice.pyc
/magmasoft/test/dao/encuestaDAO_Test.pyc
*.pyc
/logs/
